[submodule "dot.vim/.vim/vundle"]
	path = dot.vim/.vim/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "dot.zsh/.zsh/zsh-completions"]
	path = dot.zsh/.zsh/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
